body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #e0e0e0; 
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container {
    width: 100%;
    box-sizing: border-box;
}

section {
    position: relative;
    background-color: #c0c0c0;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 20px;
}

section#chicken-section h2 {
    background-color: #ffdddd; 
}

section#beef-section h2 {
    background-color: #ffaaaa; 
}

section#sushi-section h2 {
    background-color: #ffffaa; 
}

section h2 {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    margin: 0;
    padding: 5px 10px;
    font-size: 1.25em;
}

section p {
    margin-top: 30px;
}

@media (min-width: 992px) {
    .container {
        display: flex;
    }

    section {
        width: 33.33%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    section:first-child {
        margin-left: 0;
    }

    section:last-child {
        margin-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    section {
        width: 50%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    section:nth-child(3) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    section:nth-child(odd) {
        margin-left: 0;
    }

    section:nth-child(even) {
        margin-right: 0;
    }
}
